button {
    background-color: transparent;
    border: none;
}

/* Modal add usuario */
.modaladdusuariocaixa {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    background-color: #00000069;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.27s;
}

.modaladdusuario {

    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.5s, transform 0.5s;
    z-index: 10;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 45px;
    padding-right: 52px;
    max-width: 90%;
    border-radius: 5px;
    background: #FFF;
    width: 1200px;
    height: 400px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "content"
        "footer";
    /* Define as áreas das colunas */
}

.modal-footer-addusuario {
    grid-area: footer;
    text-align: right;
}

.modaladdusuario .modal-footer-addusuario button {
    border: none;
    background: #3E5055;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.9;

    transition: 1.4s;
    width: 284px;
    height: 55px;
}

.modaladdusuario button img {
    width: 24px;
    height: 24px;
}

.modaladdusuario button span {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.modaladdusuario button:hover {
    opacity: 0.6;
}

.modaladdusuario h1 {
    color: #111;
    font-size: 28px;
    font-weight: 700;
}

.modaladdusuario h2 {
    color: #111;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: initial;
    margin-bottom: 40px;
}

.modaladdusuario-footer {
    text-align: center;
}

button#addusuariobutton.secondbutton {
    border-radius: 5px;
    background: #1E6EAA;
    margin-left: 10px;
}

.modal-header-addusuario {
    display: flex;
}

.modal-header-addusuario button {
    border: none;
    background: transparent;
    cursor: pointer;
    margin-left: auto;
    height: 24px;
}

.modal-show-addusuario>.modaladdusuario {
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-show-addusuario {
    opacity: 1;
    pointer-events: auto;
}

/* Modal excluir */
.modalexcluircaixa {

    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    background-color: #00000069;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.27s;
}

.modalexcluir {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.5s, transform 0.5s;
    z-index: 10;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 45px;
    padding-right: 52px;
    max-width: 90%;
    border-radius: 5px;
    background: #FFF;

    width: 688px;
    height: 432px;

}

.modal-footer-excluir {
    text-align: center;
}

.modalexcluir .modal-footer-excluir button {
    border: none;
    background: #3E5055;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.9;

    transition: 1.4s;
    width: 284px;
    height: 55px;
}

.modalexcluir #close-modal-excluir {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 99%;
}

.modalexcluir button img {
    width: 24px;
    height: 24px;
}

.modalexcluir button span {


    color: #FFF;
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.modalexcluir button:hover {
    opacity: 0.6;

}



.modalexcluir img {
    width: 124px;
    height: 124px;
    flex-shrink: 0;
    margin-bottom: 30px;

}

.modalexcluir h1 {
    color: #111;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 7px;
}

.modalexcluir h2 {
    color: #111;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: initial;
    margin-bottom: 40px;
}

.modalexcluir-footer {
    text-align: center;
}


button#excluirbutton.secondbutton {
    border-radius: 5px;
    background: #1E6EAA;
    margin-left: 10px;

}

.modalexcluir-body p {
    font-weight: bold;
    font-size: 1.2rem;
    color: #414141;
    margin-bottom: 1rem;
}

.modal-header-excluir {

    align-items: center;
    text-align: center;
}

.modal-show-excluir>.modalexcluir {
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-show-excluir {
    opacity: 1;
    pointer-events: auto;
}


/* Modal editar */
.modaleditarcaixa {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    background-color: #00000069;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.27s;
}

.modaleditar {

    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.5s, transform 0.5s;
    z-index: 10;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 45px;
    padding-right: 52px;
    max-width: 90%;
    border-radius: 5px;
    background: #FFF;
    width: 1200px;
    height: 400px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "content"
        "footer";
    /* Define as áreas das colunas */
}

.modal-footer-editar {
    grid-area: footer;
    text-align: right;
}

.modaleditar .modal-footer-editar button {
    border: none;
    background: #3E5055;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.9;

    transition: 1.4s;
    width: 284px;
    height: 55px;
}


.modaleditar button img {
    width: 24px;
    height: 24px;
}

.modaleditar button span {


    color: #FFF;
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.modaleditar button:hover {
    opacity: 0.6;

}



.modaleditar h1 {
    color: #111;
    font-size: 28px;
    font-weight: 700;

}

.modaleditar h2 {
    color: #111;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: initial;
    margin-bottom: 40px;
}

.modaleditar-footer {
    text-align: center;
}


button#editarbutton.secondbutton {
    border-radius: 5px;
    background: #1E6EAA;
    margin-left: 10px;

}


.modal-header-editar {
    display: flex;
}

.modal-header-editar button {
    border: none;
    background: transparent;
    cursor: pointer;
    margin-left: auto;
    height: 24px;

}

.modal-show-editar>.modaleditar {
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-show-editar {
    opacity: 1;
    pointer-events: auto;
}

/* formulario editar */



.input-group {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: initial;
    column-gap: 10px;
}

.modaleditar .label.label1,
.modaladdusuario .label.label1 {
    grid-column-start: 1;
    text-align: left;

}

.modaleditar .label.label2,
.modaladdusuario .label.label2 {
    grid-column-start: 2;
    grid-row-start: 1;
    padding: 0;
    text-align: left;

}


.label span {
    line-height: 2;
}

.modaleditar .input1,
.modaladdusuario .input1 {
    grid-column-start: 1;
    grid-column-end: 2;


}

.modaleditar input,
.modaladdusuario input {
    border-radius: 5px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    background: #FFF;
    color: rgba(64, 64, 64, 0.60);
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter';
    width: 100%;
    height: 50px;

}

input::placeholder {
    color: rgba(64, 64, 64, 0.60);
    font-size: 15px;
    font-weight: 400;
}

input:focus-visible {
    outline: solid 1px #1E6EAA;
}

.input-box {
    margin-bottom: 25px;

}

.input.input-date-alug {
    grid-column-start: 2;
    grid-column-end: 3;
}

.input.input-date-prev {

    grid-column-start: 4;
}

@media (width < 761px) {

    .modaleditar .modal-footer-editar button,
    .modaladdusuario .modal-footer-addusuario button {
        width: 200px;
        height: 55px;
    }
}

@media (max-width: 755px) {

    /* Responsividade modais */
    .modalexcluir .modal-footer-excluir button {

        width: 150px;
        height: 40px;


    }

    .modalexcluir .modal-footer-excluir button>span {
        font-size: 13px;

    }
}



@media (width < 645px) {

    .modaleditar,
    .modaladdusuario {
        height: 400px;
       overflow: auto;
    
    }

    .input-group {
        display: flex;
        flex-direction: column;
        align-items: initial;

    }

    .input-group .input {
        margin-bottom: 10px;
    }

    .modaleditar .label,
    .modaladdusuario .label {
        width: 100%;
    }
}

@media (width < 581px) {

    .modaleditar .modal-footer-editar button,
    .modaladdusuario .modal-footer-addusuario button {
        width: 100px;
        height: 40px;

    }


}

@media (width < 463px) {
    .modalexcluir .modal-footer-excluir button {

        width: 100px;
        height: 40px;


    }
}